.Home{
    display:grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgba(137, 107, 147, 0.6);
    box-shadow: inset 4px 4px 600px white
    
}

.Home-Showcase{
    grid-column: 2;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 70px 0px;
    /* box-shadow: 1px 1px 20px rgb(138, 94, 138); */
    padding: 15px;
    background:none
    
}


.WelcomeUser {
    margin: 5px;
    padding: 10px;
    color: purple;
    font-family:  Brush Script Std, cursive;
    border-bottom: 1px solid rgb(209, 209, 209);
    border-radius: 15px;
    display: grid;
    font-size: 14px;
    text-shadow: 1px 1px 70px rgb(150, 69, 150);
    background-color: white;
}

.WelcomeUser-Head{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px,auto));
}

.CreatePost {
    display: grid;
    justify-self: stretch;
    justify-content: stretch;
    padding: 5px;
    background-color: rgb(150, 69, 150);
    border-radius: 8px;
}

.CreatePost-Form {
    display: grid;
    justify-content: stretch;
    align-items: center;
    background-color: rgb(150, 69, 150);
    padding: 6px;
    justify-self: stretch;
}

.CreatePost-Form-Element {
    display: grid;
    justify-self: stretch;
    justify-content: stretch;
    align-items: center;
    margin: 2px;
}


.CreatePost-Form-Element input,textarea{
    background-color: rgb(150, 69, 150);
    border: none;
    outline: none;
    padding: 5px;
    justify-self: stretch;
    width: 100%;
    color: white;
    resize: none;
}

.CreatePost-Form-Element input::placeholder{
    color: white;
}

.CreatePost-Form-Element textarea::placeholder{
    color: white;
}

.CreatePost-Form-Element #postImage{
    display: none;
    transform: scale(0);
    height: 0px;
    width: 0px;
}

.CreatePost-Form-Element label{
    color: whitesmoke;
    cursor: pointer;
    transition-property: text-shadow;
    transition-duration: 500ms;
    transition-timing-function: linear;
    font-size: 24px;
}
.CreatePost-Form-Element label:hover{
    color: whitesmoke;
    text-shadow: 3px 3px 5px whitesmoke;
}

.CreatePost-Form-Element span {
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    background-color: purple;
    border-radius: 3px;
}


#Post-Title {
        height: 25px;
}

#Post-Content {
    border-top: 1px solid rgb(202, 202, 202);
    height: 50px;
}

.WelcomeUser img {
    height: 50px;
    width: 50px;
    align-self: center;
    justify-self: right;
}

.CreatePost-Btn {
display: grid;
justify-self: center;
width: 100%;
margin:0px;
padding: 5px;
font-size: 18px;
background-color: whitesmoke;
border:0px;
border-radius: 4px;
outline: none;
cursor: pointer;
color: purple;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-shadow: 1px 1px 1px white;
transition-property: text-shadow,opacity;
transition-duration: 500ms;
opacity: 1;
}

.CreatePost-Btn:disabled{
    opacity: 0.4;
    cursor: auto;
}

.CreatePost-Btn:hover {
    text-shadow: 1px 1px 1px grey;
}


.Nav{
    position: fixed;
    left: 0;
    bottom: 0;
}