.App{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100%;
    margin:0px;
}

/* .Nav{
    grid-column: 2;
    grid-row: 1;
} */

.Login-Container{
    grid-column: 1 / 4;
    grid-row: 1;
    margin:auto;
}

.Register-Container{
    grid-column: 1 / 4;
    grid-row: 1;
    margin:auto;
}

.Landing-Container{
    grid-column: 1 / 4;
    grid-row: 1;
    margin:auto;
}


.Home{
    grid-column: 1 / 4;
    width: 100%;
    height: 100%;
    margin:0px;
}